.summaryChart {
  width: 99%;
  display: flex;
  justify-content: space-between;
}
.summaryChartContainerLeft {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
}
.summaryChartContainerRight {
  margin-top: 20px;
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
}
.summaryChartTitle {
  font-size: 20px;
  margin-bottom: 10px;
}
